<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Document Title -->
    <title>mineralo</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="~/Content/assets/img/favicon.png">

    <!-- CSS Files -->
    <!--==== Google Fonts ====-->
    <link href="https://fonts.googleapis.com/css?family=Exo+2:400,500,600,700%7CSchoolbell" rel="stylesheet">

    <!--==== Bootstrap css file ====-->
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">

    <!--==== Font-Awesome css file ====-->
    <link rel="stylesheet" href="~/Content/assets/css/font-awesome.min.css">

    <!-- Owl Carusel css file -->
    <link rel="stylesheet" href="~/Content/assets/plugins/owl-carousel/owl.carousel.min.css">

    <!-- camera css -->
    <link rel="stylesheet" href="~/Content/assets/plugins/camera/camera.min.css">

    <!-- ====video poppu css==== -->
    <link rel="stylesheet" href="~/Content/assets/plugins/Magnific-Popup/magnific-popup.css">

    <!--==== Style css file ====-->
    <link rel="stylesheet" href="~/Content/assets/css/style.css">

    <!--==== Responsive css file ====-->
    <link rel="stylesheet" href="~/Content/assets/css/responsive.css">

    <!--==== Custom css file ====-->
    <link rel="stylesheet" href="~/Content/assets/css/custom.css">
</head>


<body>

    <div class="preLoader">
        <div class="preload-img">
            <img src=' ~/Content/assets/img/preloader.gif' alt="" class="pre-img">
        </div>
    </div>
    <!-- End Of Preloader -->
    <!-- Main header -->
    <header class="header">
        <!-- Start Header Navbar-->
        <div class="main-header">
            <div class="main-menu-wrap">
                <div class="container-fluide">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 col-6">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="Index">
                                    <img src="~/Content/assets/img/logo.png" data-rjs="2" alt="mineralo">
                                </a>
                            </div>
                            <!-- End of Logo -->
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-4 col-sm-4 col-6 menu-button">
                            <div class="menu--inner-area clearfix">
                                <div class="menu-wraper">
                                    <nav>
                                        <!-- Header-menu -->
                                        <div class="header-menu dosis">
                                            <ul>
                                                <li class="active">
                                                    <a href="Index">Anasayfa <img src="~/Content/assets/img/line2.png" alt=""></a>

                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Listele", "Su")">
                                                        Ürünlerimiz <img src="~/Content/assets/img/line2.png" alt="">
                                                    </a>

                                                    <ul>
                                                        @if (this.User.IsInRole("Bayi"))
                                                        {
                                                            <li><a href='@Url.Action("Create","Su")'>Ekle</a></li>
                                                        }
                                                        <li><a href='@Url.Action("Listele","Su")'>Listele</a></li>
                                                    </ul>

                                                </li>


                                                <li>
                                                    <a href="@Url.Action("Login", "Account")">Sipariş Ver <img src="~/Content/assets/img/line2.png" alt=""></a>

                                                </li>
                                                <li>
                                                    <a href="@Url.Action("Login", "Account")">Hakkımızda <img src="~/Content/assets/img/line2.png" alt=""></a>

                                                </li>
                                                @if (!this.User.Identity.IsAuthenticated)
                                                {
                                                    <li>
                                                        <a href="@Url.Action("Login", "Account")">Giriş Yap <img src="~/Content/assets/img/line2.png" alt=""></a>

                                                    </li>}
                                                @if (this.User.Identity.IsAuthenticated)
                                                {
                                                    <li>
                                                        <a href="@Url.Action("LogOut", "Account")">Çıkış Yap <img src="~/Content/assets/img/line2.png" alt=""></a>

                                                    </li>}

                                            </ul>
                                        </div>
                                        <!-- End of Header-menu -->
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-4">
                            <div class="urgent-call text-right">
                                <span><img src="~/Content/assets/img/icons/call.svg" class="svg" alt=""></span><a href="#">666 888 0000</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Navbar-->
    </header>
    <div>
        @RenderBody()





    </div>
    <!-- footer -->
    <footer class="footer secondery-bg">
        <div class="footer-top pt-110 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <!-- footer widget -->
                        <div class="footer-widget">
                            <div class="widget-title">
                                <h3>Address</h3>
                            </div>
                            <p>666 Road Broklyn Street, 88 New York, USA</p>
                        </div>
                        <!-- End of footer widget -->
                    </div>

                    <div class="col-md-4">
                        <!-- footer widget -->
                        <div class="footer-widget text-center">
                            <div class="widget-title">
                                <h3>Follow</h3>
                            </div>
                            <div class="footer-social-area">
                                <ul class="social-list mb--0 list-unstyled">
                                    <li>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-youtube"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- End of footer widget -->
                    </div>

                    <div class="col-md-4">
                        <!-- footer widget -->
                        <div class="footer-widget text-right">
                            <div class="widget-title">
                                <h3>Contact</h3>
                            </div>
                            <div class="footer-contact-info">
                                <a href="0008888999.html">000 8888 999</a>
                                <a href="needhelp%40mineralo.html">needhelp@mineralo.com</a>
                            </div>
                        </div>
                        <!-- End of footer widget -->
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-center">
            <div class="footer-bottom-text">
                <p>© Copyright 2018 by <a href="#">Layerdrops.com</a></p>
            </div>
        </div>
    </footer>
    <!-- End of footer -->
    <!-- JS Files -->
    <!-- ==== JQuery 3.3.1 js file==== -->
    <script src="~/Content/assets/js/jquery-3.3.1.min.js"></script>

    <!-- ==== Bootstrap js file==== -->
    <script src="~/Content/assets/js/bootstrap.bundle.min.js"></script>

    <!-- ==== JQuery Waypoint js file==== -->
    <script src="~/Content/assets/plugins/waypoints/jquery.waypoints.min.js"></script>

    <!-- ==== Parsley js file==== -->
    <script src="~/Content/assets/plugins/parsley/parsley.min.js"></script>

    <!-- ==== Ratina js file==== -->
    <script src="~/Content/assets/plugins/retinajs/retina.min.js"></script>

    <!-- ==== parallax js==== -->
    <script src="~/Content/assets/plugins/parallax/parallax.js"></script>

    <!-- ==== Owl Carousel js file==== -->
    <script src="~/Content/assets/plugins/owl-carousel/owl.carousel.min.js"></script>

    <!-- ==== Menu  js file==== -->
    <script src="~/Content/assets/js/menu.min.js"></script>

    <!-- ===video popup=== -->
    <script src="~/Content/assets/plugins/Magnific-Popup/jquery.magnific-popup.min.js"></script>

    <!-- ====Counter js file=== -->
    <script src="~/Content/assets/plugins/waypoints/jquery.counterup.min.js"></script>

    <!-- cammera js -->
    <script src="~/Content/assets/plugins/camera/camera.min.js"></script>

    <!-- easing js -->
    <script src="~/Content/assets/js/easing.js"></script>

    <!--==== google map api key ====-->


    <!-- ==== Script js file==== -->
    <script src="~/Content/assets/js/scripts.js"></script>

    <!-- ==== Custom js file==== -->
    <script src="~/Content/assets/js/custom.js"></script>

</body>
</html>
